.ted-image-card {
  width: 100%;
  height: 370px;
  position: relative;
  transition: transform 0.4s ease-in;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.ted-image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: transform 0.6s ease-in;
  border-radius: 10px;
}

.ted-image-card:hover img {
  transform: scale(1.2);
}

.ted-image-card::after {
  content: attr(data-name);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px; /* Increased height */
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.4s ease-in;
}

.ted-image-card:hover::after {
  transform: translateY(0);
}